@charset "utf-8";

/* CSS Document */

/* Awesome Font */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "AeonikTRIAL-SemiBold";
  src: url("../fonts/AeonikTRIAL-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AeonikTRIAL-Regular";
  src: url("../fonts/AeonikTRIAL-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AeonikTRIAL-Medium";
  src: url("../fonts/AeonikTRIAL-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root{--maincolor:#ee4023;--secondcolor:#1d191c;--white:#ffffff;--black:#000000;--greycolor:#F7F8F7;--bordercolor:#dddddd;--default:#333333;}
body{font-family: 'AeonikTRIAL-Regular',Helvetica,Arial,Lucida1,sans-serif;font-weight:400;font-size:14px;line-height:1.8;color:var(--default);background-color:#ffffff;width:100%;height:100%;letter-spacing: 0.031rem;}
a{text-decoration:none;transition:all .4s ease;-moz-transition:all .4s ease;-webkit-transition:all .4s ease;-ms-transition:all .4s ease;-o-transition:all .4s ease;}
button{transition:all .4s ease;-moz-transition:all .4s ease!important;-webkit-transition:all .4s ease!important;-ms-transition:all .4s ease;-o-transition:all .4s ease!important;}
a:hover{text-decoration:none;}
a:focus{outline:none;text-decoration:none;}
img{max-width:100%;}
ul,li{margin:0;padding:0;}
img{max-width:100%;height:auto;}
b,strong{font-weight:700;}
h1,h2,h3,h4,h5,h6{font-weight:500;color: var(--default);font-family: 'AeonikTRIAL-Medium',Helvetica,Arial,Lucida,sans-serif;}
figure{margin:0px;}
*::-moz-selection{background: var(--maincolor);color:#fff;text-shadow:none;}
::-moz-selection{color:#fff;background:var(--maincolor);text-shadow:none;}
::selection{background:var(--maincolor);text-shadow:none;color:#fff;}
.col-center{display:flex;}
.container{max-width:1920px;}
.container{width: 90%;}






/*--------------------------------------------------------------
# General Block
--------------------------------------------------------------*/
.general-block{padding: 55px 0px;}
.section-title{text-align: center;margin-bottom: 22px;}
.section-title h2{font-size: clamp(2rem, 1.563rem + 0.82vw, 2.375rem);font-weight: 600;color: var(--secondcolor);padding-bottom: 10px;line-height: 1em;margin: 0px;}
.section-title p{font-weight:400;color:#424242;}
.program-card,.program-inner{position:relative;border-radius:12px;overflow:hidden;color:#fff;height:100%;background-size:cover;background-position:center;transition:transform 0.3s ease;}
.program-card__btm{overflow: initial;}
/*.program-card:hover{transform:translateY(-5px);}*/
.program-overlay{position:relative;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.45);display:flex;flex-direction:column;justify-content:center;padding:30px;}
.program-card h3,.program-card p{margin:0;color: var(--white);}
.program-overlay h3{font-size: 24px;font-weight: 600;padding-bottom: 10px;}
.tag{position:absolute;top:-14px;left:20px;z-index:10;}
.tag a{background-color:#f44336;color:#fff;padding:5px 15px;border-radius:20px;font-weight:600;display:inline-block;margin-bottom:10px;width: fit-content;}
.inner-card{margin-bottom:24px;height:auto;}
.inner-card .program-overlay{padding-bottom: 100px;}
.counter-program{margin-top: 40px;}
.counter-program .counter{font-size: 72px;line-height: 106px;font-weight: 600;}
.site-btn__btm{margin-top: 30px;}
.site-btn__btm ul li:first-child{margin-bottom: 15px;}
.inner-card a.arrow-icon,.card-bottom a.arrow-icon{display: inline-block;border-radius: 50px;border:1px solid var(--white); width: 47px;height: 47px;line-height: 47px;text-align: center;transition: all .2s;}
.inner-card a.arrow-icon i,.card-bottom a.arrow-icon i{font-size: 25px;color: var(--white);transition: all .2s;display: inline-block;}
.inner-card:hover a.arrow-icon,.card-bottom:hover a.arrow-icon{background-color: var(--white);}
.inner-card:hover a.arrow-icon i,.card-bottom:hover a.arrow-icon i{transform: rotate(-45deg);color: var(--secondcolor);}
.card-bottom{height: 213px;}
.card-bottom .program-overlay{padding-bottom: 60px;}
.card-slider{position: absolute;bottom: -15px;left: 20px;max-width: 500px;}
.card-content p{color: var(--secondcolor);font-size: 16px;margin: 0px;font-weight: 500;box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.2);background-color: var(--white);padding: 8px 16px;border-radius: 10px;}



/*--------------------------------------------------------------
# Card Block
--------------------------------------------------------------*/
.card-block{padding-bottom: 55px;}
.card-item{position: relative;display: flex;justify-content: space-between;background-color: var(--secondcolor);padding: 30px;border:1px solid var(--secondcolor);border-radius: 10px;align-items: center;margin-bottom: 24px;}
.card-bg-img{position:relative;border-radius:12px;overflow:hidden;color:#fff;height:100%;background-size:cover;background-position:center;transition:transform 0.3s ease;}
.card-bg-img:before{content:"";width:100%;height:100%;background-color:#3d290e;position:absolute;top:0;opacity:0.2;}
.card-text h3{margin: 0px;color: var(--white);font-weight: 600;font-size: 26px;word-wrap: break-word;position: relative;z-index: 9;}
.card-text h3 a{color: var(--white);}
.card-icon a{display: inline-block;border-radius: 50px;border:1px solid var(--white); width: 47px;height: 47px;line-height: 47px;text-align: center;transition: all .2s;}
.card-icon i{font-size: 25px;color: var(--white);transition: all .2s;display: inline-block;}
.card-item:hover a{background-color: var(--white);}
.card-item:hover i{transform: rotate(-45deg);color: var(--secondcolor);}
.card-item:hover h3 a{background: none;}
.student-block{text-align: center;background-color: #dad7d3;border-radius: 10px;border:1px solid #bbbbbb;padding: 30px;}
.student-block h3{padding-bottom: 15px;}
.card-box{position: relative;}
.card-box__inner{background-color: var(--white);padding: 45px 20px 20px 20px;border-radius: 10px;}
.card-box__inner p{font-weight: 300;font-size: 16px;}
.card-img{position: relative;margin-bottom: -32px;}
.card-img img{width: 80px;height: 80px;border-radius: 50%;display: block;margin: 0 auto;}
.card-btn a{background-color:#1d191c;color:var(--white);padding:12px 30px;border-radius:50px;display:inline-block;font-size: 16px;}
/* Card Slider Arrow */
.card-wrap{margin-right:-20px;margin-left:-20px;position: relative;}
.card-wrap .card-box{padding-right:20px;padding-left:20px;}
.card-wrap .slick-arrow{width:42px;height:42px;display:flex;border:1px solid #d6d6d6;white-space:nowrap;text-align:center;justify-content:center;flex-direction:column;flex-shrink:0;background:transparent;margin:0px -8px;cursor:pointer;border-radius:50%;background-color: #fff;}
.card-wrap .slick-arrow i{font-size:20px;color: var(--black);}
.card-wrap .slick-next{position:absolute;right:-25px;top:50%;z-index:1000;transform:translate(0,-50%);}
.card-wrap .slick-prev{position:absolute;z-index:1000;top:50%;left:-25px;transform:translate(0,-50%);}
.card-wrap .slick-center{display:block;opacity:1;}
.card-wrap .slick-list{display:flex;display:-webkit-box;display:-ms-flexbox;}
.slick-dots{text-align:center;margin:0 auto;width:100%;display:block;position:relative;}




/*--------------------------------------------------------------
# Billboard
--------------------------------------------------------------*/
.cta-block{padding:10vh 0;margin-bottom:55px;background-repeat:no-repeat;background-size:cover;position:relative;background-position: 50%;}
.cta-block:before{content:"";position:absolute;inset:0;background:radial-gradient(circle at center,rgba(61,41,14,0.25) 0%,rgba(61,41,14,0) 70%);z-index:1;pointer-events:none;}
.cta-block:after{content:"";position:absolute;inset:0;background:radial-gradient(circle at center,rgba(61,41,14,0.4) 0%,rgba(61,41,14,0) 80%);z-index:2;pointer-events:none;}
.cta-content{text-align:center;position:relative;z-index: 9;}
.cta-title{color:var(--white);padding:1.6% 0;}
.cta-title h2{max-width:500px;margin:0 auto 25px auto;color:var(--white);font-weight:600;font-size: clamp(2rem, 1.563rem + 0.82vw, 2.375rem);font-family: 'AeonikTRIAL-SemiBold', Helvetica, Arial, Lucida, sans-serif;line-height: 1em;}
.cta-title p{max-width:450px;margin:0 auto;word-wrap: break-word;line-height: 1.5em;font-size: 16px;}

.site-btn__wrap{display: flex;flex-wrap: wrap;align-items: center;justify-content: center;max-width: 583px;margin:0 auto;gap: 12px;}
.cta-content .site-btn{padding-bottom: 1.6%;}
.cta-content .site-btn ul{text-align: center;}
.cta-content .site-btn ul li{padding: 0 4px;}
.cta-content .site-btn ul li:first-child{padding-left: 0px;}
.cta-content .site-btn ul li:last-child{padding-right: 0px;}
.cta-content .site-btn ul li a{padding: 10px 11px;}
.cta-content .site-btn ul li a:hover{background-color: var(--white);color: var(--secondcolor);}
.cta-content .site-btn ul li a:hover i{color: var(--secondcolor);transform: rotate(-45deg);}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-block{background-color: var(--secondcolor);padding: 30px 0px 0px 0px;}
.footer-top{border-bottom: 1px solid rgba(255, 255, 255, 0.3);padding-bottom: 30px;}
.footer-top ul{display: flex;flex-wrap: wrap;gap: 20px;justify-content: space-between;width: 49.4%;margin: 0 0 0 auto;list-style-type: none;}
.footer-top ul li a{color: var(--white);font-size: 16px;}
.footer-top ul li a:hover{color: #c4c4c4;}
.footer-body{padding: 30px 0px;}
.footer-logo{padding-bottom: 30px;}
.footer-logo img{max-width: 300px;}
.site-btn ul{list-style-type: none;}
.site-btn li{display: inline-block;padding: 0px 7.5px;}
.site-btn li:first-child{padding-left: 0px;}
.site-btn li:last-child{padding-right: 0px;}
.site-btn li a{color:var(--white);border-radius:50px;font-size:16px;background-color:#ee4023;padding:9px 20px;border:2px solid transparent;text-align: center;font-weight: 500;display: inline-block;transition: all .2s;font-family: 'AeonikTRIAL-Medium',Helvetica,Arial,Lucida,sans-serif !important;}
.site-btn li a i{transition: all .2s;display: inline-block;}
.site-btn li a:hover i{transform: rotate(-45deg);}
.site-btn li a i{padding-left: 6px;}
.site-btn li.white-btn a{background-color: var(--white);color: var(--secondcolor);}
.site-btn li.transparent-btn a{background-color: transparent;border: 2px solid rgba(255, 255, 255, 0.34);}
.site-btn li.transparent-btn a .lets-icon{background-color:#ee4023;height:33px;width:33px;border-radius:50px;display:inline-block;text-align:center;font-size:20px;line-height:33px;position:relative;right:-13px;}
.site-btn li.transparent-btn a .lets-icon i{padding:0px;}
.site-btn li.transparent-btn a:hover i{transform: none;}
.footer-contact h4{color: var(--white);font-size: 20px;margin-bottom: 15px;}
.footer-contact p,.footer-contact p a{color: var(--white);line-height: 1.3;font-size: 15px;}
.footer-contact p{margin-bottom: 10px;}
.footer-contact p a:hover{color: #c4c4c4;}
.footer-social{margin-top: 30px;}
.footer-social ul{list-style-type: none;}
.footer-social ul li{display: inline-block;padding: 0px 6px;}
.footer-social ul li:first-chils{padding-left: 0px;}
.footer-social ul li:last-chils{padding-right: 0px;}
.footer-social ul li a{color: var(--white);}
.footer-social ul li i{font-size: 24px;}
.footer-bottom{background-color: var(--black);padding: 13px 0px;}
.copyright-wrap{display: flex;flex-wrap: wrap;}
.copyright p{color: var(--white);margin: 0px;padding: 0px;}
.copyright-wrap p{margin: 0px;color: var(--white);font-size: 13px;}
.copyright-wrap p a{color: var(--white);}
.footer-link ul{list-style-type: none;}
.footer-link ul li{display: inline-block;position: relative;padding: 0px 5px;}
.footer-link ul li::before{content: "|";position: absolute;color: var(--white);left: -5px;}
.footer-link ul li:first-child{margin-left: 10px;}
.footer-link ul li a{color: var(--white);}
.footer-logo-right{float: right;}




/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 767px)
{
  .footer-top ul{width: 100%;justify-content: center;gap: 10px 13%;}
  .site-btn ul{text-align: left;}
  .site-btn li{padding: 0px 6px 12px 6px;}
  .site-btn li.transparent-btn{display: none;}
  .site-btn{padding-bottom: 10px;border-bottom: 1px solid rgba(255, 255, 255, 0.3);margin-bottom: 30px;}
  .footer-logo-right{float: none;padding-top: 15px;}
  .card-bottom{height:auto;}
  .card-bottom .program-overlay{padding-bottom: 150px;}
  .card-slider{position:absolute;bottom:10px;left:20px;max-width:100%;right:20px;}
  .container{width: 92%;}
  .mobile-card{margin-bottom: 24px;height: auto;}
  .site-btn__btm {padding: 0px;margin: 0px;border:none;}
  .site-btn__btm ul{text-align: left;}
  .site-btn__btm ul li:first-child{margin-bottom:0px;}
  .inner-card .program-overlay{padding-bottom: 40px;}
  .cta-content .site-btn li.transparent-btn{display: inline-block;}
  .footer-top ul li{width: 31%;}
  .site-btn li a{padding:9px 14px;}
  .footer-contact h4{margin-bottom: 24px;}
  .copyright-wrap p{letter-spacing: 0.031rem;font-size: 13px;}
  .colf-1{width: 100%;}
  .colf-2{width: 50%;}
  .colf-3{width: 50%;}
  .footer-contact p,.footer-contact p a{color:var(--white);line-height:0.8;font-size:14px;}
  .site-btn__wrap{display: block;}
}
@media (max-width: 1199px)
{
  .site-btn li{margin-bottom: 10px;}
  .footer-contact p,.footer-contact p a{color:var(--white);line-height:1.6;font-size:16px;margin:0px;}
  .site-btn__btm {padding: 0px;margin: 0px;border:none;}
  .site-btn__btm ul{text-align: left;}
  .mobile-card{margin-bottom: 24px;height: auto;}
/*  .container{padding: 0px;}*/
  .copyright-wrap p{letter-spacing: 0.031rem;font-size: 13px;}
}
@media (max-width: 980px)
{
  .footer-top ul{width: 100%;gap: 10px 3%;}
  .site-btn{padding-bottom: 0px;border-bottom: 1px solid rgba(255, 255, 255, 0.3);margin-bottom: 30px;}
  .footer-last{margin-top: 0px;}
  .site-btn__btm {padding: 0px;margin: 0px;border:none;}
  .site-btn__btm ul{text-align: left;}
   .mobile-card{margin-bottom: 24px;height: auto;}
   .colf-1{width: 100%;}
  .colf-2{width: 50%;}
  .colf-3{width: 50%;}
  .copyright-wrap p{letter-spacing: 0.031rem;font-size: 13px;}
  .site-btn__cta{border:none;margin-bottom: 0px;}
  .cta-title{padding: 20px 0px;}
}
@media (max-width: 479px)
{
  .colf-1{width: 100%;}
  .colf-2{width: 100%;}
  .colf-3{width: 100%;}
  .footer-social{margin: 15px 0px 30px 0px;}
   .copyright-wrap p{font-size: 13px;}
}
@media (max-width: 366px)
{
.cta-content .site-btn ul li a {
    padding: 10px 13px;
}
}
